%li.highlight[sample]
  - if sample.state
    .strip{:class => sample.state}= t(short_state)
  - else
    .strip.white #{t :other}

  %ul.tools
    = "Edit | Delete"

  .indent
    %tt
      = "Sample " + sample.id.to_s
  = hook(:sample_bottom, self, :sample => sample)