= hook(:sample_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.req.top #{t :state}:
          = f.select :state, @state, :style => "width:110px"
        %td
          .label #{t :quoted_price} #{t :currency}:
          = f.text_field :quoted_price, :style => "width:110px; text-align:right;"
        %td
          .label_bold #{t :pricing_type}:
          .radio_box_long
            = f.radio_button :pricing_type, "Spot", :checked => "checked"
            = f.label "Spot"
            %br
            = "Forward Pricing:"
            %br
            = f.radio_button :pricing_type, "Open"
            = f.label "Open"
            %br
            = f.radio_button :pricing_type, "Outright"
            = f.label "Outright"

      %tr
        %td
          .label #{t :description}
          = f.text_area :description, :style => "width:500px; height:120px"