= hook(:sample_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td
          .label.req.top #{t :state}:
          = f.select :state, @state, :style => "width:110px"
        %td= spacer
        %td
          .label_bold #{t :pricing_type}:
          .radio_box_long
            - @pricing.each_with_index do |item, index|
              - if index == 0
                = f.radio_button :pricing_type, item[1], :checked => "checked"
                = f.label item[0]
                %br
                = "Forward Pricing:"
                %br
              - else
                = f.radio_button :pricing_type, item[1]
                = f.label item[0]
                %br
            / %br
            / = f.radio_button :pricing_type, "Open"
            / = f.label "Open"
            / %br
            / = f.radio_button :pricing_type, "Outright"
            / = f.label "Outright"
        %td= spacer
        %td
          .label #{t :sample_shipment_date}:
          = f.text_field :shipment_date, :value => f.object.shipment_date, :style => "width:110px", :autocomplete => :off, :class => 'date'
        %td= spacer
        %td
          .label #{t :follow_up}:
          = f.text_field :follow_up_date, :value => f.object.follow_up_date, :style => "width:110px", :autocomplete => :off, :class => 'date'
      %tr
        %td
          .label.req #{t :sh_fee} #{t :currency}:
          = f.text_field :sh_fee, :style => "width:110px; text-align:right;"
        %td= spacer
        %td
          .label #{t :quoted_price}:
          = f.text_field :quoted_price

      %tr
        %td
          .label_bold #{t :spot_pricing}:
      %tr
        %td
          .label #{t :rits_id}:
          = select :sample, :rits_purchase_contract_id , @pc_names, {:include_blank => true}, { :style => "width:160px", :class => 'select2'}
      %tr
        %td
          .label_bold #{t :forward_pricing}:
      %tr
        %td
          .label #{t :producer}:
          = f.text_field :producer
        -# %td= spacer
        -# %td
        -#   .label #{t :differential} #{t :currency}:
        -#   = f.text_field :differential, :style => "width:110px; text-align:right;"
        %td= spacer
        %td
          .label #{t :delivery_date}:
          = f.text_field :delivery_month, :value => f.object.delivery_month, :style => "width:110px", :autocomplete => :off, :class => 'date' 
          -# = select_month(Date.today)
    %table
      %tr
        %td
          .label #{t :description_input}:
          = f.text_area :description, :style => "width:500px; height:120px"
