%li.highlight[all]
  / - unless all.category.blank?
  /   .strip{:class => all.category}= t(all.category)
  / - else
  /   .strip.white #{t :other}

  .tools
    = "Hello."

  .indentwide
    - if all.completed?
      %strike= all.name
    - else
      = all.name
    = "| "
    %tt
      = link_to(all.user.name, user_path(all.user))
      - if all.assigned_to
        = ", assigned to"
        = link_to(all.assignee.name, user_path(all.assignee))
      = "| "

      - if all.bucket == "due_asap"
        %span.urgent= t(:task_due_now)

      - else
        - if all.at_specific_time?
          - if all.due_at < Time.now
            %span.urgent= t("Overdue")
          - else
            = t(:task_due_in, distance_of_time_in_words(Time.now, all.due_at))
            = '(' << l(all.due_at.localtime, :format => :mmddhhss) << ')'

