= styles_for :contact

= render 'entities/title_bar'

.remote#create_contact{ hidden }

= render "search"

.remote#options{ hidden }

.list#contacts
  - if @contacts.any?
    = render @contacts
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"

#import
  = t :import_contacts
  = form_tag(import_contacts_path, multipart: true) do
    = file_field_tag :file, {:style => "color: darkslateblue;"}
    = submit_tag "Import"
