.filters#filters
  .caption
    = (t :opportunity_stages) 
    #legend= (t :bags_small)
  - @stage.each do |value, key|
    .check_box
      - unless key == :closed_won || key == :closed_lost
        %div{:style => "float:right;"}
          / Doesn't show amount of closed opps in sidebar
          = (@opportunity_amount_total[key].floor || 0).to_s + " | "
          = @opportunity_stage_total[key]
        = opportunity_stage_checkbox(key, @opportunity_stage_total[key])
        = label_tag(key, value)

  .check_box.bottom_border
    %div{:style => "float:right;"}
      = (@opportunity_amount_total[:other].floor || 0).to_s + " | "
      = @opportunity_stage_total[:other]
    = opportunity_stage_checkbox("other", @opportunity_stage_total[:other])
    = label_tag(:other, t(:other))

  .check_box.bottom_border
    %div{:style => "float:right;"}
      / Includes closed opps
      / %b= number_to_currency(@opportunity_amount_total[:all] || 0, :precision => 0) + " | "
      / Excludes closed opps
      %b= ((@opportunity_amount_total[:all] - (@opportunity_amount_total[:closed_won] + @opportunity_amount_total[:closed_lost])).floor || 0).to_s + " | "
      %b= (@opportunity_stage_total[:all] - @opportunity_stage_total[:closed_lost] - @opportunity_stage_total[:closed_won]).floor
    %b #{t :open_opportunities}
  = hook(:index_opportunity_sidebar_bottom, self)

  - @stage.each do |value, key|
    .check_box
      - if key == :closed_won || key == :closed_lost
        %div{:style => "float:right;"}
          = (@opportunity_amount_total[key].floor || 0).to_s + " | "
          = @opportunity_stage_total[key]
        = opportunity_stage_checkbox(key, @opportunity_stage_total[key])
        = label_tag(key, value)

.filters#pcs
  .caption
    = (t :spot_contracts)
  - @spot_contracts.each do |spot|
    %div{:style => "border-bottom: 1px solid lightgrey; margin: 2px 0 3px;"}
      %a(href="#{spot.rits_url}" target="_blank") #{spot.contract_number}
      %br
      = pc_index_formatter(spot)
