= styles_for :opportunity

= render 'entities/title_bar'

.remote#create_opportunity{ hidden }

= render 'search'

.remote#options{ hidden }

= pie_chart Opportunity.weighted_amount_by_user, library: {pieSliceText: "value-and-percentage", pieSliceTextStyle: {fontSize: "9"}, title: "Total Bags in Pipeline - #{Opportunity.sum_weighted_amount}" }
= column_chart Opportunity.weighted_amount_by_month

.list#opportunities
  - if @opportunities.any?
    = render @opportunities
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
.report= link_to t(:sales_report), sales_report_opportunities_path
.report= link_to t(:cash_report), cash_report_opportunities_path

= hook(:opportunity_index_after, self)
