= styles_for :opportunity

-# = pie_chart Opportunity.group(:stage).count
= column_chart Opportunity.revenue_by_month('cash').sort

= render 'entities/title_bar'

.remote#create_opportunity{ hidden }

= render 'search'

.remote#options{ hidden }

.list#opportunities
  - if @opportunities.any?
    = render @opportunities
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
.report= link_to t(:sales_report), sales_report_opportunities_path
.report= link_to t(:cash_report), cash_report_opportunities_path

= hook(:opportunity_index_after, self)
