- opps = Opportunity.weighted_amount_by_month.to_a
- other_opps = Opportunity.weighted_amount_by_user_by_month.map {|month, values| {name: month, data: values.to_a}}
- pyramid = Opportunity.sales_pyramid

%script{:type => "text/javascript"}
  :plain
    $(function () {

        $('#chart_div').highcharts({
            chart: {
                type: 'funnel',
                marginRight: 100
            },
            title: {
                text: 'Sales funnel',
                x: -50
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b> ({point.y:,.0f})',
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                        softConnector: true
                    },
                    neckWidth: '30%',
                    neckHeight: '25%'

                    //-- Other available options
                    // height: pixels or percent
                    // width: pixels or percent
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Total pounds',
                data: #{pyramid}
            }]
        });
    });


= "Opportunities Reports"

%div{id: 'chart_div'}

= column_chart Opportunity.stacked_column_chart.map {|month, values| {name: month, data: values}}, stacked: true, library: {title: "#{Date.today.year} Monthly Bags in Pipeline"}

= pie_chart Opportunity.weighted_amount_by_user, library: {pieSliceText: "value-and-percentage", pieSliceTextStyle: {fontSize: "9"}, title: "Total Bags in Pipeline - #{Opportunity.sum_weighted_amount}" }

= bar_chart opps, library: {title: "#{Date.today.year} Total Bags Monthly Pipeline"}

= column_chart opps, library: {title: "#{Date.today.year} Total Bags Monthly Pipeline"}


-# %script{:type => "text/javascript", :src => "https://www.google.com/jsapi"}
-# %script{:type => "text/javascript"}
-#   :plain
-#     google.load('visualization', '1.0', {'packages':['corechart']});
-#     google.setOnLoadCallback(drawChart);

-#     function drawChart() {
-#       var data = new google.visualization.arrayToDataTable([['Month', 'Bags', { role: 'style'}],#{opps.each {|opp| opp}}]);

-#       var options = {
-#         'title' :'Pizza',
-#         'width' :400,
-#         'height' :300
-#       };

-#       var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
-#       chart.draw(data, options);
-#     }
