= "Opportunities Reports"

- opps = Opportunity.weighted_amount_by_month

= pie_chart Opportunity.weighted_amount_by_user, library: {pieSliceText: "value-and-percentage", pieSliceTextStyle: {fontSize: "9"}, title: "Total Bags in Pipeline - #{Opportunity.sum_weighted_amount}" }
= column_chart opps, library: {title: "#{Date.today.year} Total Bags Monthly Pipeline"}