- if (template = template_for_current_view)
  = render(template, :opportunity => @opportunity)
- else

  -# default view

  = styles_for :task, :contact

  = render 'opportunities/title_bar', :opportunity => @opportunity
  %div{ :style => "width:100%;" }
    %div{ :style => "width:33%; float:left;"}
      %ul
      - @opportunity.attributes.each_pair do |att, value|
        %li= att + ": " + value.to_s
    %div{ :style => "width:33%; display:inline-block;"}
      %ul
      - @opportunity.attributes.each_pair do |att, value|
        %li= att
    %div{ :style => "width:33%; float:right;"}
      %ul
      - @opportunity.attributes.each_pair do |att, value|
        %li= att


  = render "comments/new", :commentable => @opportunity
  = render :partial => "shared/timeline", :collection => @timeline

  = hook(:show_opportunity_bottom, self, {entity: @opportunity}) do

    = render "tasks/tasks", :object => @opportunity

    = render "contacts/contacts", :object => @opportunity

    = render "versions/versions", :object => @opportunity

    = load_select_popups_for(@opportunity, :tasks, :contacts)
