= hook(:account_top_section, self, :f => f) do
  .section
    %table
      %tr
        %td(colspan="5")
          .label.top.req #{t :name}:
          = f.text_field :name, :style => "width:500px"
      %tr
        %td
          .label #{t :assigned_to}:
          = user_select(:account, User.except(current_user), current_user)
        %td= spacer
        %td
          .label #{t :category}:
          = f.select :category, Setting.unroll(:account_category), { :selected => (@account.category || :regional).to_sym}, { :style => "width:160px" }
        %td= spacer
        %td
          .label #{t :type}
          = f.select :account_type, Setting.unroll(:account_type), {:selected => (@account.account_type || "roaster").to_sym}, { :style => "width:160px" }
        %td= spacer
        %td
          .label #{t :status}
          = f.select :status, Setting.unroll(:account_status), {:selected => (@account.status || "customer").to_sym}, { :style => "width:160px" }

      - if Setting.background_info && Setting.background_info.include?(:account)
        %tr
          %td(colspan="5")
            .label= t(:background_info) << ':'
            = f.text_area :background_info, :style =>"width:500px", :rows => 3

      = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

      = hook(:account_top_section_bottom, self, :f => f)