= styles_for :account

= geo_chart Address.where(:addressable_type => "Account").where(:address_type => "Billing").group(:country).count
= geo_chart Address.where(:addressable_type => "Account").where(:address_type => "Billing").group(:state).count, library: {region: 'US', resolution: 'provinces'}

= render 'entities/title_bar'

.remote#create_account{ hidden }

= render 'search'

.remote#options{ hidden }

.list#accounts
  - if @accounts.any?
    = render @accounts
  - else
    = render "shared/empty"

#paginate= render "shared/paginate_with_per_page"
#export= render "shared/export"
